{% extends 'curso/base.html' %}

{% block contenido %}
    <h1>Lista de Alumnos</h1>
    <a href="{% url 'curso:alumno_create' %}"><button>Crear Alumno</button></a>
    <table>
        <thead>
            <tr>
                <th>Comisión</th>
                <th>DNI</th>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
            <tr>
                <td>{{ object.comision }}</td>
                <td>{{ object.dni }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock contenido %}